body {
  font-size: 12px;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
}

/*解决高度塌陷的问题*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  margin: 50px auto;
}
.bili-music-wrap {
  height: 100px;
  overflow: hidden;
  border: 0px;
}
.bili-music {
  width: 800px;
  height: 800px;
  margin-top: -1200px;
}
.vlog {
  width: 1000px;
  height: 560px;
  margin-bottom: 30px;
}

.audio {
  width: 300px;
  height: 60px;
}
